<div id="header">
     <svg width="59px" height="40px" viewBox="0 0 59 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs>
            <linearGradient x1="-12.5330261%" y1="0%" x2="100%" y2="100%" id="linearGradient-1">
                <stop stop-color="#4FB0B0" offset="0%"></stop>
                <stop stop-color="#2B3990" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard-2" fill-rule="nonzero">
                <g id="Recurso-6" transform="translate(0.000000, -1.000000)">
                    <polygon id="Shape" fill="url(#linearGradient-1)" points="0 0 0 21.0010181 0 42 44.2487614 42 59 21.0010181 44.2487614 0"></polygon>
                    <path d="M37.2987185,19.699681 C38.3492662,18.8862285 38.9600474,17.6196504 38.9472985,16.2810174 C38.9472985,13.9869142 37.2421496,12.1262779 35.1389979,12.1262779 C33.0358462,12.1262779 31.3306973,13.9869142 31.3306973,16.2810174 C31.3166697,17.6193718 31.9277814,18.8858773 32.9792773,19.6976364 C32.2391011,20.0463371 31.5696993,20.5317268 31.005426,21.1288951 C30.0612097,19.7408728 28.7507695,18.6491453 27.2233895,17.9780813 C28.5094255,17.0429419 29.2695427,15.5363845 29.2639113,13.9337532 C29.2639113,11.2082277 27.1304549,9 24.5,9 C21.8695451,9 19.7360887,11.2143617 19.7360887,13.9398871 C19.7306629,15.5419855 20.4898428,17.0481765 21.7745902,17.9842153 C20.248407,18.6563574 18.9388872,19.7479012 17.994574,21.135029 C17.4303007,20.5378607 16.7608989,20.052471 16.0207227,19.7037703 C17.0722186,18.8920112 17.6833303,17.6255058 17.6693027,16.2871514 C17.6693027,13.9930482 15.9641538,12.1324119 13.8610021,12.1324119 C11.7578504,12.1324119 10.0527015,13.9930482 10.0527015,16.2871514 C10.0399526,17.6257844 10.6507338,18.8923624 11.7012815,19.705815 C8.97183099,20.9591887 7,24.5250675 7,28.7309234 L8.03440314,28.7309234 C8.03440314,24.2653963 10.6426345,20.654535 13.8610021,20.654535 C15.1560263,20.654535 16.3500346,21.2413511 17.3177673,22.2309643 C16.2495029,24.2257613 15.6982998,26.4620571 15.7156546,28.7309234 C15.7156546,31.6404678 16.8349111,34 18.2188294,34 C19.6027476,34 20.7220042,31.6404678 20.7220042,28.7309234 C20.7220042,26.277337 20.0472177,24.0282162 18.9400831,22.3372863 C20.3058185,20.3744173 22.2897714,19.1374008 24.5,19.1374008 C26.7102286,19.1374008 28.6941815,20.364194 30.0599169,22.3372863 C28.9527823,24.0261716 28.2779958,26.2691584 28.2779958,28.7309234 C28.2779958,31.6404678 29.3992727,34 30.7811706,34 C32.1630686,34 33.2843454,31.6404678 33.2843454,28.7309234 C33.3017002,26.4620571 32.7504971,24.2257613 31.6822327,22.2309643 C32.6499654,21.2413511 33.8439737,20.654535 35.1389979,20.654535 C38.3573655,20.654535 40.9655969,24.2715302 40.9655969,28.7309234 L42,28.7309234 C42,24.5189335 40.0382706,20.9530547 37.2987185,19.699681 Z M13.9074694,19.2232764 L13.8185754,19.2232764 C12.3498037,19.1987405 11.165897,17.8942504 11.165897,16.2871514 C11.165897,14.6800523 12.3780882,13.3469371 13.8610021,13.3469371 C15.343916,13.3469371 16.5561071,14.6636951 16.5561071,16.2871514 C16.5561071,17.9106077 15.3742207,19.1905619 13.9074694,19.2232764 Z M19.687601,28.7309234 C19.687601,30.8716774 19.1037289,32.6157684 18.3764142,32.6157684 C17.6490995,32.6157684 17.0389633,30.8675881 17.0389633,28.7309234 C17.0271819,26.8976855 17.4490547,25.0882113 18.2693373,23.4536681 C19.2190126,25.0422739 19.7103048,26.8682112 19.687601,28.7247894 L19.687601,28.7309234 Z M24.5363657,17.4362476 L24.4717155,17.4362476 C22.61697,17.4182412 21.1252917,15.8867146 21.1341879,14.0095621 C21.1430841,12.1324097 22.6492098,10.6154346 24.5040406,10.6154346 C26.3588715,10.6154346 27.8649972,12.1324097 27.8738934,14.0095621 C27.8827895,15.8867146 26.3911112,17.4182412 24.5363657,17.4362476 Z M31.9569961,28.7247894 C31.9569961,30.8655435 31.3509005,32.6096344 30.6195451,32.6096344 C29.8881898,32.6096344 29.3083583,30.8614542 29.3083583,28.7247894 C29.2829775,26.8664873 29.7729279,25.038209 30.7225814,23.4475341 C31.5442638,25.0817243 31.9675262,26.8912165 31.9569961,28.7247894 Z M32.4398522,16.2810174 C32.4398522,14.6575611 33.6520434,13.3408031 35.1349573,13.3408031 C36.6178712,13.3408031 37.8300623,14.6575611 37.8300623,16.2810174 C37.8300623,17.9044737 36.6501963,19.1926065 35.1895059,19.2232764 L35.1006119,19.2232764 C33.6257793,19.1905619 32.4438929,17.8860718 32.4438929,16.2810174 L32.4398522,16.2810174 Z" id="Shape" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </svg>
    <span> We Code </span>
    <div class="rightButtons">
        <a href="javascript:save();"> 
            <svg height="16px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="16px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><path d="M17.447,16.646C17.08,16.279,16.729,16,16,16s-1.135,0.334-1.463,0.662L10.58,20.62C10.193,21.006,10,21.469,10,22  c0,1.188,1.016,2,2,2c0.516,0,0.986-0.186,1.38-0.58L14,22.8V30c0,1.104,0.896,2,2,2s2-0.896,2-2v-7.2l0.62,0.62  C19.014,23.814,19.484,24,20,24c0.984,0,2-0.813,2-2c0-0.531-0.193-0.994-0.58-1.38L17.447,16.646z M27.952,9.05  C27.473,3.973,23.202,0,18,0c-4.841,0-8.878,3.441-9.801,8.01C8.133,8.008,8.067,8,8,8c-4.418,0-8,3.582-8,8s3.582,8,8,8h0.557  C8.212,23.409,8,22.731,8,22c0-0.727,0.201-1.399,0.562-2H8c-2.206,0-4-1.795-4-4c0-2.178,1.75-3.957,3.918-4l3.534,0.107  l0.668-3.305C12.682,6.02,15.155,4,18,4c3.111,0,5.678,2.332,5.97,5.426l0.195,2.069l1.806,1.03C27.223,13.238,28,14.57,28,16  c0,2.205-1.794,4-4,4h-0.561C23.799,20.6,24,21.273,24,22c0,0.731-0.212,1.409-0.557,2H24c4.418,0,8-3.582,8-8  C32,13.021,30.367,10.427,27.952,9.05z"/></svg>
        </a>
        <a href="javascript:shareOnMSN();"> 
            <svg height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M800.3 653.6c-46.5 13.2-81.5 47.1-97.9 88.9l-351.9-94c-.3-14.1-2.2-28.5-6.3-42.7-1.2-4.1-2.6-8.1-4.1-12.1L590 326.9c35 23.3 79.6 31.8 123.3 19.5 79.2-22.4 125.2-104.8 102.7-184C793.6 83.2 711.2 37.2 632 59.7c-79.2 22.4-125.2 104.8-102.7 184 4.5 15.7 11.3 30.1 20 42.9L294.4 526.1c-42.1-37.9-102-54.2-160.5-37.6-90.5 25.6-143 119.8-117.4 210.3 25.6 90.5 119.8 143 210.3 117.4 48.5-13.7 85.9-47.2 106.5-89.2l358.8 73.2c.3 12.4 1.9 25 5.5 37.5 22.4 79.2 104.8 125.2 184 102.7 79.2-22.4 125.2-104.8 102.7-184-22.4-79.3-104.8-125.2-184-102.8z"/></svg>
        </a>
    </div>
</div> 
<div id="editor"></div>
<div id="sidebar">
    <div id="myVideoArea">
        <p> No stream detected</p>
    </div>
    <div id="chatArea">
        <div id="messagesArea"></div>
        <p><%=@nickname%></p>
        <input  id="messagebox" />
    </div>
</div>
<textarea name="code" id="raw_code" type="hidden" style="display: none;"><%= @snippet.code %></textarea>
<div id="footer">
  <span>Theme</span>
  <div >
    <select class="style_selector">
        <option value="ambiance">ambiance</option>
        <option value="chaos">chaos</option>
        <option value="chrome">chrome</option> 
        <option value="cobalt">cobalt</option>
        <option value="dawn">dawn</option>
        <option value="dreamweaver">dreamweaver</option>
        <option value="eclipse">eclipse</option>
        <option value="github">github</option>
        <option value="gruvbox">gruvbox</option>
        <option value="iplastic">iplastic</option>
        <option value="kr_theme">kr_theme</option>
        <option value="kuroir">kuroir</option>
        <option value="merbivore">merbivore</option>
        <option value="mono_industrial">mono_industrial</option>
        <option value="pastel_on_dark">pastel_on_dark</option>
        <option value="solarized_dark">solarized_dark</option>
        <option value="sqlserver">sqlserver</option>
        <option value="terminal">terminal</option>
        <option value="textmate">textmate</option>
        <option value="tomorrow">tomorrow</option>
        <option value="tomorrow-night">tomorrow-night</option>
        <option value="twilight">twilight</option>
        <option value="xcode">xcode</option>
    </select>
  </div>
  
  <span>Language</span>
  <div >
    <select class="language_selector">
        <option value="asm">asm</option>
        <option value="css">css</option>
        <option value="elixir">elixir</option>
        <option value="golang">go</option>
        <option value="groovy">groovy</option>
        <option value="java">java</option>
        <option value="jade">jade</option>
        <option value="javascript">javascript</option>
        <option value="java">java</option>
        <option value="json">json</option>
        <option value="haml">haml</option>
        <option value="haskell">haskell</option>
        <option value="html">html</option>
        <option value="latex">latex</option>
        <option value="lua">lua</option>
        <option value="matlab">matlab</option>
        <option value="markdown">markdown</option>
        <option value="objectivec">objective-c</option>
        <option value="php">php</option>
        <option value="prolog">prolog</option>
        <option value="r">r</option>
        <option value="ruby">ruby</option>
        <option value="rust">rust</option>
        <option value="scala">scala</option>
        <option value="sh">sh</option>
        <option value="sql">sql</option>
        <option value="swift">swift</option>
        <option value="stylus">stylus</option>
        <option value="typescript">typescript</option>
        <option value="text">text</option>
        <option value="xml">xml</option>
    </select>
  </div>
  
</div>


<script>

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
        }
        return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
    }

    var flag_changing = false;
    var flag_selection_changing = false;
    var emiter = guid(); 

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/<%= @snippet.language %>");
    document.querySelector(".language_selector").value = "<%= @snippet.language%>";
    ace_document = editor.getSession().getDocument();

    session = editor.getSession();
    selection = session.getSelection();

    <% if @snippet.theme.to_s != "" %>
      editor.setTheme("ace/theme/<%= @snippet.theme%>");
      document.querySelector(".style_selector").value = "<%= @snippet.theme%>";
    <% end %>

    <% if @snippet.code.to_s != "" %>
      ace_document.setValue(document.getElementById('raw_code').value);
    <% end %>

    editor.on("change", function (e) {  
        if (!flag_changing) {
            App.snippet.send(build_payload(e))
        }
    });

    document.querySelector(".style_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            App.snippet.send(build_payload())
            editor.setTheme("ace/theme/" + e.target.value);
        }
    });

    document.querySelector(".language_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            App.snippet.send(build_payload())
            editor.getSession().setMode("ace/mode/" + e.target.value);
        }
    });

    selection.on("changeCursor", function () {
        if (!flag_changing) {
            App.snippet.send(build_payload())
        }
    });
    selection.on("changeSelection", function () {
        if (!flag_changing) {
            App.snippet.send(build_payload())
        }
    });

    function save()
    {
        App.snippet.send(build_payload(null, true))
    }

    function build_payload(e=null, persist=null){
        return {
            todo: 'ideChanged',
            persist: persist,
            emiter: emiter,
            body: ace_document.getValue(), 
            e: e,
            slug: "<%=@snippet.slug%>",
            theme: document.querySelector(".style_selector").value,
            language: document.querySelector(".language_selector").value,
            cursor_position: editor.getCursorPosition(),
            selection_range: selection.getRange()
        }
    }

    document.querySelector("#messagebox").addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            if (event.target.value != ""){
                sendChatMessage();
                event.target.value = "";
            }
        }
    });

    function build_message_payload(){
        return {
            emiter: emiter,
            todo: 'chatInput',
            user: '<%=@nickname%>',
            message: document.querySelector("#messagebox").value,
            color: '<%=@user_color%>'
        }
    }

    function sendChatMessage(){
        App.snippet.send(build_message_payload())
    }


    function shareOnMSN(){
        FB.ui({ method: 'share', link: window.location.href });
    } 

    App.snippet = App.cable.subscriptions.create({channel: "SnippetChannel", room: "<%=@snippet.slug%>"}, {
            connected() {},
                // Called when the subscription is ready for use on the server 
            disconnected() {},
                // Called when the subscription has been terminated by the server 
            received(data) {
                switch(data.todo) {
                    case "ideChanged": 
                        if (data.emiter != emiter) { refreshIDE(data) }
                        break;
                    case "chatInput":
                        appendChatMessage(data);
                        break; 
                }
            }
        }
    );

    function appendChatMessage(data){

        console.log("append message");
        console.log(data);
 
        var chatMessagesContainer = document.querySelector("#messagesArea");
        
        var spechBubleContainer = document.createElement("div");
        spechBubleContainer.className = "spechBubleContainer";
        avatarpicture = document.createElement("img");
        avatarpicture.src = "https://robohash.org/" + data.user.replace(" ", "-") + ".png" 

        var nameContainer = document.createElement("div");

        nameContainer.innerText = data.user

        spechBuble = document.createElement("div");
        if (data.emiter == emiter){
            nameContainer.className = "nickname-left";
            avatarpicture.className = "right";
            spechBuble.className = "speech-bubble-right";
        } else {
            nameContainer.className = "nickname-rigth";
            avatarpicture.className = "left";
            spechBuble.className = "speech-bubble-left";
        }
        
        spechBuble.style.backgroundColor = data.color;

        spechBuble.innerText = data.message;

        spechBubleContainer.appendChild(avatarpicture);
        spechBubleContainer.appendChild(spechBuble);
        spechBubleContainer.appendChild(nameContainer);

        chatMessagesContainer.appendChild(spechBubleContainer);

        chatMessagesContainer.scrollTop = chatMessagesContainer.scrollHeight;

    
    }

    function refreshIDE(data){
        var event = new Event('change');

        flag_changing = true; 
        if (data.e != null) {
            res = data.e;
            switch (res['action']) {
            case 'insert': 
                position = { row: res['start']['row'], column: res['start']['column'] };
                ace_document.insert(position, (res['lines']).join(ace_document.getNewLineCharacter()));
                break;
            case 'remove':
                ace_document.remove({ start: res['start'], end: res['end'] });
                break;
            }
        }
    
        selection.moveToPosition(data.cursor_position);
        selection.setSelectionRange(data.selection_range);
        document.querySelector(".style_selector").value = data.theme; 
        document.querySelector(".language_selector").value = data.language;
        editor.setTheme("ace/theme/" + data.theme);
        editor.getSession().setMode("ace/mode/" + data.language);

        flag_changing = false;
    }

  
    var client = AgoraRTC.createClient({mode: 'live', codec: "h264"});

 
    client.init('8931f6fb1f79441186b4963ecd8c5e8c', function () {
      console.log("AgoraRTC client initialized"); 
    }, function (err) {
      console.log("AgoraRTC client init failed", err);
    });
 
    
    client.join(null, "snippet<%=@snippet.slug%>", parseInt(emiter), function(uid) {
        console.log("User " + uid + " join channel successfully");
    }, function(err) {
        console.log("Join channel failed", err);
    });
  

    client.on('stream-added', function (evt) {
        var stream = evt.stream;
        console.log("New stream added: " + stream.getId());

        client.subscribe(stream, function (err) {
            console.log("Subscribe stream failed", err);
        });
    });

    client.on('stream-subscribed', function (evt) {
        var remoteStream = evt.stream;
        console.log("Subscribe remote stream successfully: " + remoteStream.getId());
        remoteStream.play('myVideoArea');
    });



    
    

</script>