<div id="header">
    
    <svg width="32px" viewBox="0 0 363 314" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs>
            <linearGradient x1="15.8493576%" y1="10.5638241%" x2="84.1506424%" y2="89.4313279%" id="linearGradient-1">
                <stop stop-color="#4FB0B0" offset="0%"></stop>
                <stop stop-color="#2B3990" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard" transform="translate(-119.000000, -43.000000)" fill-rule="nonzero">
                <g id="Recurso-6" transform="translate(119.000000, 43.000000)">
                    <polygon id="Shape" fill="url(#linearGradient-1)" points="272.24238 0 90.7576203 0 0 157.007611 90.7576203 314 272.24238 314 363 157.007611"></polygon>
                    <path d="M277.673228,143.605627 C285.567343,137.55354 290.156928,128.130199 290.061129,118.17077 C290.061129,101.102642 277.248153,87.2595076 261.44447,87.2595076 C245.640787,87.2595076 232.827811,101.102642 232.827811,118.17077 C232.722404,128.128126 237.314471,137.550927 245.215712,143.590415 C239.653817,146.184748 234.62374,149.796047 230.38363,154.238979 C223.288519,143.912094 213.441496,135.789641 201.964327,130.796925 C211.627969,123.839488 217.339707,112.630701 217.297391,100.707124 C217.297391,80.429214 201.265989,64 181.5,64 C161.734011,64 145.702609,80.4748507 145.702609,100.75276 C145.661838,112.672372 151.366533,123.878433 161.020492,130.842562 C149.552315,135.843299 139.712209,143.964385 132.61637,154.284616 C128.37626,149.841684 123.346183,146.230384 117.784288,143.636051 C125.685529,137.596564 130.277596,128.173763 130.172189,118.216406 C130.172189,101.148278 117.359213,87.3051444 101.55553,87.3051444 C85.7518471,87.3051444 72.9388709,101.148278 72.9388709,118.216406 C72.8430725,128.175836 77.4326565,137.599176 85.3267721,143.651264 C64.8169014,152.976364 50,179.506502 50,210.79807 L57.7728007,210.79807 C57.7728007,177.574548 77.3717964,150.709741 101.55553,150.709741 C111.286712,150.709741 120.258832,155.075652 127.530651,162.438374 C119.503408,177.279664 115.36151,193.917705 115.491919,210.79807 C115.491919,232.445081 123.902332,250 134.301489,250 C144.700647,250 153.11106,232.445081 153.11106,210.79807 C153.11106,192.543388 148.040522,175.809929 139.721196,163.22941 C149.983722,148.625665 164.891711,139.422262 181.5,139.422262 C198.108289,139.422262 213.016278,148.549603 223.278804,163.22941 C214.959478,175.794717 209.88894,192.482539 209.88894,210.79807 C209.88894,232.445081 218.314535,250 228.698511,250 C239.082487,250 247.508081,232.445081 247.508081,210.79807 C247.63849,193.917705 243.496592,177.279664 235.469349,162.438374 C242.741168,155.075652 251.713288,150.709741 261.44447,150.709741 C285.628204,150.709741 305.227199,177.620185 305.227199,210.79807 L313,210.79807 C313,179.460865 298.259005,152.930727 277.673228,143.605627 Z M101.904699,140.061176 L101.236724,140.061176 C90.1999538,139.878629 81.3037405,130.173223 81.3037405,118.216406 C81.3037405,106.259589 90.4124913,96.3412121 101.55553,96.3412121 C112.698568,96.3412121 121.807319,106.137892 121.807319,118.216406 C121.807319,130.294921 112.926287,139.81778 101.904699,140.061176 Z M145.338259,210.79807 C145.338259,226.72528 140.950877,239.701317 135.485627,239.701317 C130.020376,239.701317 125.435638,226.694856 125.435638,210.79807 C125.34711,197.15878 128.517182,183.696292 134.681021,171.535291 C141.817152,183.354518 145.508862,196.939492 145.338259,210.752433 L145.338259,210.79807 Z M181.773263,126.765683 L181.287462,126.765683 C167.350375,126.631714 156.141478,115.237156 156.208326,101.271142 C156.275175,87.3051282 167.592634,76.0188332 181.530363,76.0188332 C195.468091,76.0188332 206.78555,87.3051282 206.852399,101.271142 C206.919247,115.237156 195.71035,126.631714 181.773263,126.765683 Z M237.533999,210.752433 C237.533999,226.679643 232.979624,239.65568 227.484011,239.65568 C221.988398,239.65568 217.631378,226.649219 217.631378,210.752433 C217.440659,196.926666 221.122286,183.324275 228.258254,171.489654 C234.432611,183.648028 237.613126,197.110651 237.533999,210.752433 Z M241.162318,118.17077 C241.162318,106.092255 250.271069,96.2955754 261.414108,96.2955754 C272.557146,96.2955754 281.665897,106.092255 281.665897,118.17077 C281.665897,130.249284 272.800046,139.832993 261.824001,140.061176 L261.156026,140.061176 C250.073713,139.81778 241.192681,130.112374 241.192681,118.17077 L241.162318,118.17077 Z" id="Shape" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </svg>
    <span> WeCode </span>
    <div class="rightButtons">
        <a href="javascript:save();"> 
            <svg height="16px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="16px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><path d="M17.447,16.646C17.08,16.279,16.729,16,16,16s-1.135,0.334-1.463,0.662L10.58,20.62C10.193,21.006,10,21.469,10,22  c0,1.188,1.016,2,2,2c0.516,0,0.986-0.186,1.38-0.58L14,22.8V30c0,1.104,0.896,2,2,2s2-0.896,2-2v-7.2l0.62,0.62  C19.014,23.814,19.484,24,20,24c0.984,0,2-0.813,2-2c0-0.531-0.193-0.994-0.58-1.38L17.447,16.646z M27.952,9.05  C27.473,3.973,23.202,0,18,0c-4.841,0-8.878,3.441-9.801,8.01C8.133,8.008,8.067,8,8,8c-4.418,0-8,3.582-8,8s3.582,8,8,8h0.557  C8.212,23.409,8,22.731,8,22c0-0.727,0.201-1.399,0.562-2H8c-2.206,0-4-1.795-4-4c0-2.178,1.75-3.957,3.918-4l3.534,0.107  l0.668-3.305C12.682,6.02,15.155,4,18,4c3.111,0,5.678,2.332,5.97,5.426l0.195,2.069l1.806,1.03C27.223,13.238,28,14.57,28,16  c0,2.205-1.794,4-4,4h-0.561C23.799,20.6,24,21.273,24,22c0,0.731-0.212,1.409-0.557,2H24c4.418,0,8-3.582,8-8  C32,13.021,30.367,10.427,27.952,9.05z"/></svg>
        </a>
        <a href="javascript:shareOnMSN();"> 
            <svg height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M800.3 653.6c-46.5 13.2-81.5 47.1-97.9 88.9l-351.9-94c-.3-14.1-2.2-28.5-6.3-42.7-1.2-4.1-2.6-8.1-4.1-12.1L590 326.9c35 23.3 79.6 31.8 123.3 19.5 79.2-22.4 125.2-104.8 102.7-184C793.6 83.2 711.2 37.2 632 59.7c-79.2 22.4-125.2 104.8-102.7 184 4.5 15.7 11.3 30.1 20 42.9L294.4 526.1c-42.1-37.9-102-54.2-160.5-37.6-90.5 25.6-143 119.8-117.4 210.3 25.6 90.5 119.8 143 210.3 117.4 48.5-13.7 85.9-47.2 106.5-89.2l358.8 73.2c.3 12.4 1.9 25 5.5 37.5 22.4 79.2 104.8 125.2 184 102.7 79.2-22.4 125.2-104.8 102.7-184-22.4-79.3-104.8-125.2-184-102.8z"/></svg>
        </a>
    </div>
</div> 
<div id="editor"></div>
<div id="sidebar">
    <div id="myVideoArea"> 
        <svg width="70" onclick="GoSream();" viewBox="0 0 176 121" xmlns="http://www.w3.org/2000/svg"><g fill="#d4d4d4" fill-rule="evenodd"><path d="M172.423.639a5.37 5.37 0 0 0-5.504.253l-46.257 30.64v-12.65c0-10.36-8.428-18.787-18.788-18.787H18.788C8.428.095 0 8.523 0 18.883v83.087c0 10.36 8.428 18.788 18.788 18.788h83.086c10.36 0 18.788-8.429 18.788-18.788V89.323l46.257 30.638a5.368 5.368 0 0 0 8.332-4.475V5.368a5.369 5.369 0 0 0-2.828-4.73zm-62.497 101.33c0 4.44-3.612 8.053-8.052 8.053H18.788c-4.44 0-8.052-3.613-8.052-8.052V18.883c0-4.44 3.612-8.052 8.052-8.052h83.086c4.44 0 8.052 3.612 8.052 8.052v83.087zm54.589 3.522L120.66 76.445V44.41l43.854-29.047v90.13z" fill-rule="nonzero"/><path d="M88 60.176L65.494 47.094 43 34v52.34L65.506 73.26z"/></g></svg>
        <p> Click to start video stream
        <div class="actionButton">
            <div id="micro-switch" class="on"></div>
            <div id="video-switch" class="on"></div>
            <div id="stop-button"></div>
        </div>
    </div>
    <div id="chatArea">
        <div id="messagesArea"></div>
        <p><%=@nickname%></p>
        <input  id="messagebox" />
    </div>
</div>
<textarea name="code" id="raw_code" type="hidden" style="display: none;"><%= @snippet.code %></textarea>
<div id="footer">
  <span>Theme</span>
  <div >
    <select class="style_selector">
        <option value="ambiance">ambiance</option><option value="chaos">chaos</option><option value="chrome">chrome</option><option value="cobalt">cobalt</option><option value="dawn">dawn</option><option value="dreamweaver">dreamweaver</option><option value="eclipse">eclipse</option><option value="github">github</option><option value="gruvbox">gruvbox</option><option value="iplastic">iplastic</option><option value="kr_theme">kr_theme</option><option value="kuroir">kuroir</option><option value="merbivore">merbivore</option><option value="mono_industrial">mono_industrial</option><option value="pastel_on_dark">pastel_on_dark</option><option value="solarized_dark">solarized_dark</option><option value="sqlserver">sqlserver</option><option value="terminal">terminal</option><option value="textmate">textmate</option><option value="tomorrow">tomorrow</option><option value="tomorrow-night">tomorrow-night</option><option value="twilight">twilight</option><option value="xcode">xcode</option>
    </select>
  </div>
  <span>Language</span>
  <div>
    <select class="language_selector">
        <option value="asm">asm</option><option value="css">css</option><option value="elixir">elixir</option><option value="golang">go</option><option value="groovy">groovy</option><option value="java">java</option><option value="jade">jade</option><option value="javascript">javascript</option><option value="java">java</option><option value="json">json</option><option value="haml">haml</option><option value="haskell">haskell</option><option value="html">html</option><option value="latex">latex</option><option value="lua">lua</option><option value="matlab">matlab</option><option value="markdown">markdown</option><option value="objectivec">objective-c</option><option value="php">php</option><option value="prolog">prolog</option><option value="r">r</option><option value="ruby">ruby</option><option value="rust">rust</option><option value="scala">scala</option><option value="sh">sh</option><option value="sql">sql</option><option value="swift">swift</option><option value="stylus">stylus</option><option value="typescript">typescript</option><option value="text">text</option><option value="xml">xml</option>
    </select>
  </div>
</div>


<script>

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
        }
        return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
    }

    var flag_changing = false;
    var flag_selection_changing = false;
    var emiter = guid(); 

    var is_streamer_flag = true;

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/<%= @snippet.language %>");
    document.querySelector(".language_selector").value = "<%= @snippet.language%>";
    ace_document = editor.getSession().getDocument();

    session = editor.getSession();
    selection = session.getSelection();

    <% if @snippet.theme.to_s != "" %>
      editor.setTheme("ace/theme/<%= @snippet.theme%>");
      document.querySelector(".style_selector").value = "<%= @snippet.theme%>";
    <% end %>

    <% if @snippet.code.to_s != "" %>
      ace_document.setValue(document.getElementById('raw_code').value);
    <% end %>

    editor.on("change", function (e) {  
        if (!flag_changing) {
            App.snippet.send(build_payload(e))
        }
    });

    document.querySelector(".style_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            App.snippet.send(build_payload())
            editor.setTheme("ace/theme/" + e.target.value);
        }
    });

    document.querySelector(".language_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            App.snippet.send(build_payload())
            editor.getSession().setMode("ace/mode/" + e.target.value);
        }
    });

    selection.on("changeCursor", function () {
        if (!flag_changing) {
            App.snippet.send(build_payload())
        }
    });
    selection.on("changeSelection", function () {
        if (!flag_changing) {
            App.snippet.send(build_payload())
        }
    });

    function save()
    {
        App.snippet.send(build_payload(null, true))
    }

    function build_payload(e=null, persist=null){
        return {
            todo: 'ideChanged',
            persist: persist,
            emiter: emiter,
            body: ace_document.getValue(), 
            e: e,
            slug: "<%=@snippet.slug%>",
            theme: document.querySelector(".style_selector").value,
            language: document.querySelector(".language_selector").value,
            cursor_position: editor.getCursorPosition(),
            selection_range: selection.getRange()
        }
    }

    document.querySelector("#messagebox").addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            if (event.target.value != ""){
                sendChatMessage();
                event.target.value = "";
            }
        }
    });

    function build_message_payload(){
        return {
            emiter: emiter,
            todo: 'chatInput',
            user: '<%=@nickname%>',
            message: document.querySelector("#messagebox").value,
            color: '<%=@user_color%>'
        }
    }

    function sendChatMessage(){
        App.snippet.send(build_message_payload())
    }


    function shareOnMSN(){
        FB.ui({ method: 'share', link: window.location.href });
    } 

    App.snippet = App.cable.subscriptions.create({channel: "SnippetChannel", room: "<%=@snippet.slug%>"}, {
            connected() {},
                // Called when the subscription is ready for use on the server 
            disconnected() {},
                // Called when the subscription has been terminated by the server 
            received(data) {
                switch(data.todo) {
                    case "ideChanged": 
                        if (data.emiter != emiter) { refreshIDE(data) }
                        break;
                    case "chatInput":
                        appendChatMessage(data);
                        break; 
                }
            }
        }
    );

    function appendChatMessage(data){

        console.log("append message");
        console.log(data);
 
        var chatMessagesContainer = document.querySelector("#messagesArea");
        
        var spechBubleContainer = document.createElement("div");
        spechBubleContainer.className = "spechBubleContainer";
        avatarpicture = document.createElement("img");
        avatarpicture.src = "https://robohash.org/" + data.user.replace(" ", "-") + ".png" 

        var nameContainer = document.createElement("div");

        nameContainer.innerText = data.user

        spechBuble = document.createElement("div");
        if (data.emiter == emiter){
            nameContainer.className = "nickname-left";
            avatarpicture.className = "right";
            spechBuble.className = "speech-bubble-right";
        } else {
            nameContainer.className = "nickname-rigth";
            avatarpicture.className = "left";
            spechBuble.className = "speech-bubble-left";
        }
        
        spechBuble.style.backgroundColor = data.color;

        spechBuble.innerText = data.message;

        spechBubleContainer.appendChild(avatarpicture);
        spechBubleContainer.appendChild(spechBuble);
        spechBubleContainer.appendChild(nameContainer);

        chatMessagesContainer.appendChild(spechBubleContainer);

        chatMessagesContainer.scrollTop = chatMessagesContainer.scrollHeight;

    
    }

    function refreshIDE(data){
        var event = new Event('change');

        flag_changing = true; 
        if (data.e != null) {
            res = data.e;
            switch (res['action']) {
            case 'insert': 
                position = { row: res['start']['row'], column: res['start']['column'] };
                ace_document.insert(position, (res['lines']).join(ace_document.getNewLineCharacter()));
                break;
            case 'remove':
                ace_document.remove({ start: res['start'], end: res['end'] });
                break;
            }
        }
    
        selection.moveToPosition(data.cursor_position);
        selection.setSelectionRange(data.selection_range);
        document.querySelector(".style_selector").value = data.theme; 
        document.querySelector(".language_selector").value = data.language;
        editor.setTheme("ace/theme/" + data.theme);
        editor.getSession().setMode("ace/mode/" + data.language);

        flag_changing = false;
    }

  
    var client = AgoraRTC.createClient({mode: 'live', codec: "h264"});

    var localStream = AgoraRTC.createStream({
            streamID: parseInt(emiter),
            audio: true,
            video: true,
            screen: false});
    
    client.init('8931f6fb1f79441186b4963ecd8c5e8c', function () {
      console.log("AgoraRTC client initialized"); 
    }, function (err) {
      console.log("AgoraRTC client init failed", err);
    });
 
    
    client.join(null, "snippet<%=@snippet.slug%>", parseInt(emiter), function(uid) {
        console.log("User " + uid + " join channel successfully");
    }, function(err) {
        console.log("Join channel failed", err);
    });

    function GoSream() {
        localStream.init(function() {
            var actionButtons = document.querySelector(".actionButton");
            actionButtons.style.display = "flex";
            console.log("getUserMedia successfully");

            localStream.play('myVideoArea'); 

            client.publish(localStream, function (err) {
                console.log("Publish local stream error: " + err);
            });

            client.on('stream-published', function (evt) {
                console.log("Publish local stream successfully");
            });

        }, function (err) {
            console.log("getUserMedia failed", err);
        });
    }

    

    function switchMicro() {
        var microSwitch = document.getElementById("micro-switch");
        if (microSwitch.classList.contains("on") ){
            localStream.disableAudio();
            microSwitch.classList.remove("on");
            microSwitch.classList.add("off");
        } else {
            localStream.enableAudio();
            microSwitch.classList.remove("off");
            microSwitch.classList.add("on");
        }
    }

    function switchVideo() {
        var videoSwitch = document.getElementById("video-switch");
        if (videoSwitch.classList.contains("on")) {
            localStream.disableVideo();
            videoSwitch.classList.remove("on")
            videoSwitch.classList.add("off")
        } else {
            localStream.enableVideo();
            videoSwitch.classList.remove("off")
            videoSwitch.classList.add("on")
        }
    }
     
    function stopVideo() {
        localStream.stop();
        localStream.close(); 
    }

    document.getElementById("micro-switch").addEventListener("click", function(e){
        e.preventDefault();
        switchMicro();
    });

    document.getElementById("video-switch").addEventListener("click", function(e){
        e.preventDefault();
        switchVideo();
    });

    document.getElementById("stop-button").addEventListener("click", function(e){
        e.preventDefault();
        var actionButtons = document.querySelector(".actionButton");
        actionButtons.style.display = "none";
        stopVideo();
        client.unpublish(localStream, function(err) {
            console.log("stream unpublished");
            //……
        })
    });


    
    

</script>

         