<!DOCTYPE html>
<html>
  <head>
    <title>WeCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'jquery-adapter' %>
    <%= stylesheet_link_tag    'opentip' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>
    <script src="https://cdn.agora.io/sdk/web/AgoraRTCSDK-2.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.17.0/slimselect.min.js"></script>
    
    <script src="http://darsa.in/tooltip/dist/tooltip.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.17.0/slimselect.min.css"> 
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
